.pipboy-icon {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 10px;

    /* Verde Fallout CRT */
    filter:
        grayscale(100%)
        brightness(0.90)
        sepia(80%)
        hue-rotate(80deg)
        saturate(450%)
        drop-shadow(0 0 8px #00ff66);

    transition: 0.2s ease;
}

/* Efecto al pasar el mouse */
.pipboy-icon:hover {
    filter:
        grayscale(100%)
        brightness(0.75)
        sepia(100%)
        hue-rotate(80deg)
        saturate(450%)
        drop-shadow(0 0 14px #00ff99);
    transform: scale(1.05);
}
