.retro-nav {
    width: 100%;
    background: #e5e5d8;          /* carcasa beige */
    border-bottom: 4px solid #c9c9b8;
    box-shadow: 0 4px 0 #bfbfaf inset;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Courier New", monospace;
   position: fixed;
top: 0;
left: 0;/
}

.nav-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #222;
    text-shadow: 0 1px #fff;

     display: flex;
    flex-direction: column; /* LOGO ARRIBA, TEXTO ABAJO */
    align-items: center;
    justify-content: center;
    gap: 4px; /* separación elegante */
    font-size: 1.6rem;
    font-weight: bold;
    
    margin-bottom: 10px;
}

/* Logo sin efectos */
.nav-title .icon {
    width: 70px;
    height: auto;
    display: block;
}

/* Responsive */
@media (max-width: 600px) {
    .nav-title {
        font-size: 1.2rem;
    }

    .nav-title .icon {
        width: 40px;
    }
}

/* Botones estilo monitor viejo */
.retro-btn {
    background: #d6d6c8;
    border: 2px solid #a9a99b;
    padding: 6px 14px;
    margin: 0 5px;
    cursor: pointer;

    color: #111;
    font-size: 0.9rem;
    font-family: "Courier New";

    box-shadow: 0 2px 0 #8b8b7a;
}

.retro-btn:active {
    box-shadow: 0 0 0 #8b8b7a;
    position: relative;
    top: 2px;
}

/* LED Naranja */
.nav-status {
    display: flex;
    align-items: center;
    gap: 6px;
}

.led {
    width: 14px;
    height: 14px;
    background: orange;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(255, 140, 0, 0.9);
    animation: blinkLed 1s infinite;
}

@keyframes blinkLed {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
}

.status-text {
    color: #222;
    font-weight: bold;
}

/* Luz naranja detrás del botón cuando hay hover */
.retro-btn:hover {
    background: #e0dfd0;
    box-shadow:
        0 2px 0 #8b8b7a,
        0 0 12px rgba(255, 140, 0, 0.6); /* glow naranja */
    border-color: #c5a37b;
}

/* Luz más intensa cuando se hace clic */
.retro-btn.flash {
    box-shadow:
        0 2px 0 #8b8b7a,
        0 0 18px rgba(255, 140, 0, 1),
        0 0 30px rgba(255, 100, 0, 0.8);
}

