/* NAVBAR CRT SUPERIOR */
.crt-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: rgba(0, 20, 0, 0.9);
    border-bottom: 2px solid rgba(0, 255, 0, 0.4);
    padding: 10px 20px;

    color: #00ff66;
    font-family: "Courier New", monospace;
    font-size: 1.1rem;
    text-shadow: 0 0 6px rgba(0, 255, 0, 0.8);

    display: flex;
    justify-content: center;
    z-index: 9999;
}

/* Lista horizontal */
.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

/* NAVLINK ES EL BOTÓN */
.nav-item {
    display: block;              
    padding: 6px 14px;
    cursor: pointer;

    text-decoration: none;
    color: #00ff66;

    border: 1px solid rgba(0, 255, 0, 0.4);
    background: rgba(0, 50, 0, 0.1);

    transition: 0.15s ease;
}

/* Hover */
.nav-item:hover {
    background: rgba(0, 255, 0, 0.15);
    box-shadow: 0 0 12px rgba(0, 255, 0, 0.6);
    border-color: rgba(0, 255, 0, 0.7);
}

/* Click */
.nav-item:active {
    transform: translateY(2px);
    box-shadow: 0 0 4px rgba(0, 255, 0, 0.5);
}



/* Para evitar que se sobreponga el contenido */
body {
    padding-top: 55px; /* Altura del navbar */
}
